.issue-wrapper {
    margin-bottom: 2em;
}
.issue-bar {
    border-top: 1px solid #cccccc;
    padding: 6px;
    margin: 0.5em 0;
    background-color: #f5f5f5;
    font-size: 12px;
}
.issue-separator {
    margin: 0 8px;
}
.issue-separator:last-child {
    display: none;
}
.issue-tag {
    font-size: 10px;
    margin-right: 0.8em;
}
.new a {
    font-weight: bold;
}
.viewed a {
    font-weight: normal;
}