.controls-bar {
    overflow: hidden;
}
.controls-bar.well {
    padding: 15px;
    margin-bottom: 15px;
}
.controls-bar__actions {
    float: right;
}
.controls-bar__method {
    float: left;
}
.controls-bar__method label {
    margin: 6px 0 0 0;
}
@media (max-width: 768px) {
    .controls-bar__actions {
        float: left;
    }
    .controls-bar__method {
        clear: both;
    }
}
.controls-bar .context-info {
    margin-top: 8px;
}

.context-bar {
    margin-top: 1em;
    margin-bottom: 1em;
}
.context-bar .separator {
    line-height: 34px;
}
.context-bar .undefined {
    color: #999999;
}
.context-bar .defined.loaded {
    font-weight: bold;
}
.context-bar .selected {
    margin: 0 12px;
    border: 1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-configure .form-group > h3 {
    margin-top: 0;
}
.form-configure .controls {
    margin-bottom: 1em;
}
