.platform-panel {
    z-index: 1070;
}
.popup.auth-popup {
    max-width: 500px;
}

#fPanelForm, #bPanelForm {
    min-height: auto;
}
#fPanelForm .widget-controls, #bPanelForm .widget-controls {
    top: 11px;
    right: 0;
}
@media (min-width: 768px) {
    #fPanelForm .widget-controls, #bPanelForm .widget-controls {
        top: 8px;
        right: 15px;
    }
}